* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body {
    background-color: rgba(217, 233, 169, 0.746);
    margin: 0;
}

#tittle {
    background-color: rgba(0, 132, 134, 0.8);
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;
    margin: 0;
}

h2 {
    background-color: rgba(128, 191, 157, 0.8);
    width: 100%;
   margin: 0 auto 50px;
   padding: 10px;
}

h3 {
    background-color: rgba(182, 219, 121, 0.8);
    width: 200px;
    margin: 20px auto;
    border: 3px;
    border-style: solid;
    border-color: rgba(137, 164, 94, 0.8);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

thead, th, td, tr {
    border: 1px;
    border-style: solid;
    border-color: rgb(45, 183, 169);
    font-size: 15px;
}

table {
    margin: auto;
}

thead {
    background-color: rgba(63, 179, 187, 0.8);
    font-weight: 600;
    text-align: center;
    font-weight: bold;
}

tbody {
    background-color: rgba(60, 151, 190, 0.53);
}

td {
    width: 300px;
    text-align: center;
    line-height: 1.5;
    padding: 5px;
}

#tablefortags td {
    width: 800px;
    font-size: 18px;
}

#tablefortags td, th{
    padding: 5px;
}

a {
    font-weight: bold;
    color: rgb(1, 33, 63);
    letter-spacing: 2;
    cursor: pointer; 
}

a:hover {
    text decoration: none;
}
